# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Database
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Temporary files
tmp/
temp/

assemble.py
disassemble.py

*.sql
*.sqlite
*.txt

*.tsbuildinfo

clean_js.py

*.md
*.png